* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Segoe UI';
    font-size: 16px;
    overflow-x: hidden;
}

/* portfolio styles */

/* main */

main {
    width: 100%;
    min-height: calc(100dvh - 70px);
    display: flex;
    justify-content: center;
    padding: 0 3%;
    padding-top: 70px;
    transition: .2s;
}

main .content {
    width: 100%;
    max-width: 1280px;
    padding: 30px 0;
}

/* responsiveness */
