* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Segoe UI';
    font-size: 16px;
    overflow-x: hidden;
}

/* portfolio styles */

.background {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}

/* main */

main {
    min-height: calc(100dvh - 50px);
    /* padding: 30px 3%; */
    transition: .2s;
}

h1.h1 {
    margin: 30px 3%;
}

/* responsiveness */

@media only screen and (max-width: 670px) {
    header nav {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }
}
